/* box-sizing 규칙을 명시합니다. */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* 폰트 크기의 팽창을 방지합니다. */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* 기본 여백을 제거하여 작성된 CSS를 더 잘 제어할 수 있습니다. */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* list를 role값으로 갖는 ul, ol 요소의 기본 목록 스타일을 제거합니다. */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* 핵심 body의 기본값을 설정합니다. */
body {
  min-height: 100vh;
  line-height: 1.5;
  font-family: "Noto Sans KR", "Reddit Mono", sans-serif;
}

ul,
li {
  list-style: none;
}

/* 제목 요소와 상호작용하는 요소에 대해 line-height를 더 짧게 설정합니다. */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* 제목에 대한 text-wrap을 balance로 설정합니다. */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* 클래스가 없는 기본 a 태그 요소는 기본 스타일을 가져옵니다. */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* 이미지 관련 작업을 더 쉽게 합니다. */
img,
picture {
  max-width: 100%;
  display: block;
}

/* input 및 button 항목들이 글꼴을 상속하도록 합니다. */
input,
button,
textarea,
select {
  font: inherit;
}

/* 행 속성이 없는 textarea가 너무 작지 않도록 합니다. */
textarea:not([rows]) {
  min-height: 10em;
}

/* 고정된 모든 항목에는 여분의 스크롤 여백이 있어야 합니다. */
:target {
  scroll-margin-block: 5ex;
}

.container {
  position: relative;
  min-width: 100dvw;
  min-height: 100dvh;
  background-color: #f2f2f2;
}

.inner {
  margin: 0 20px;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  .todo_title {
    margin-bottom: 30px;
    font-size: 28px;
  }
}

.todo_form {
  margin-bottom: 40px;

  #add_todo,
  .add_todo_btn {
    border: 1px solid gray;
    border-radius: 8px;
  }

  #add_todo {
    padding: 6px 12px;
    margin-right: 4px;
  }

  .add_todo_btn {
    padding: 4px 12px;
    transition-duration: 0.3s;
    cursor: pointer;

    &:hover {
      background-color: #000;
      color: #f2f2f2;
    }
  }
}

.list_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-width: 440px;
  min-height: 500px;
  height: 100%;

  border: 1px solid gray;
  border-radius: 8px;

  .list_wrap__title {
    margin: 20px 0;
    font-size: 24px;
    font-weight: 500;
  }

  .divider_line {
    max-width: 400px;
    width: 100%;
    height: 1px;
    background-color: gray;
  }

  #list_container {
    padding: 20px;
    .todo.checked {
      text-decoration: line-through;
      text-decoration-color: red;
    }

    .todo {
      display: flex;
      justify-content: space-between;
      width: 360px;
      margin-bottom: 8px;
      padding: 6px 8px;

      color: #f2f2f2;
      background-color: rgba(0, 0, 0, 0.8);

      border-radius: 8px;

      &:hover {
        cursor: pointer;
      }

      span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        transition-duration: 0.3s;
        &:hover {
          cursor: pointer;
          background: pink;
          color: black;
        }
      }
    }
  }
}
